{
	auto_https disable_redirects
}

arrakis.stork-eel.ts.net {
	root * /var/www
	file_server

	handle /grafana {
		redir http://arrakis:3000
	}

	handle /plex {
		redir http://arrakis:32400
	}

	handle /overseerr {
		redir http://arrakis:5055
	}

	handle /sonarr {
		redir http://arrakis:8989
	}

	handle /radarr {
		redir http://arrakis:7878
	}

	handle /prowlarr {
		redir http://arrakis:5055
	}

	handle_path /transmission {
		redir http://arrakis:9091
	}
}
