{
	auto_https disable_redirects
}

arrakis.stork-eel.ts.net {
	root * /var/www
	file_server

	handle /grafana {
		redir https://arrakis.stork-eel.ts.net:3000
	}

	handle /plex {
		redir https://arrakis.stork-eel.ts.net:32400
	}

	handle /overseerr {
		redir https://arrakis.stork-eel.ts.net:5055
	}

	handle /nzbget {
		redir https://arrakis.stork-eel.ts.net:6789
	}

	handle /sonarr {
		redir https://arrakis.stork-eel.ts.net:8989
	}

	handle /radarr {
		redir https://arrakis.stork-eel.ts.net:7878
	}
}
